[defaults]
inventory           = ./inventory/hosts.ini
remote_user         = ansible
private_key_file    = /apps/git-code/keys/ansible-key
host_key_checking   = False
gathering           = smart
forks               = 5
timeout             = 30

[ssh_connection]
ssh_args            = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining          = True
